<div class="container-fluid bg-white">
    <div class="row p-3">
        <h3>Contact</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi officia voluptatibus et nobis. Hic, officiis
            perferendis ipsa consectetur ducimus architecto commodi maiores laborum blanditiis illum odio repellat natus
            necessitatibus officia.</p>
        <form class="w-50 mx-auto bg-light border">
            <div class="mb-3 row">
                <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Your Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="your email">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Your.message</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="please enter your message here"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-end">Submit</button>
        </form>
    </div>
</div>